@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
}

@layer base {
  :root {
    /* 기본값(light 테마) 정의 */
    --theme-color-default: rgb(37, 37, 37);
    --theme-color-background: #ffffff;
    --theme-color-sub-background: rgb(228, 228, 228);
    --theme-color-foreground: rgb(20, 20, 20);
    --theme-color-primary: #6366f1;
    --theme-color-primary-hover: #4f46e5;
    --theme-color-secondary: #facc15;
    --theme-color-secondary-hover: #eab308;
    --theme-color-success: #22c55e;
    --theme-color-success-light: #d1fae5;
    --theme-color-warning: #facc15;
    --theme-color-warning-light: #fefcbf;
    --theme-color-danger: #ef4444;
    --theme-color-danger-light: #fecaca;

    --theme-color-neutral: rgb(125, 133, 150);
    --theme-color-border: rgb(211, 211, 211);
    --theme-color-footer: #f3f4f6;

    --theme-color-card-background: rgba(255, 255, 255, 0.9);
    --theme-color-card-border: #e5e7eb;
    --theme-color-card-hover: rgba(0, 0, 0, 0.05);
    --theme-color-tertiary: #a855f7;
    --theme-color-muted: #6b7280;
  }

  /* 🌙 Dark Mode */
  [data-theme="dark"] {
    --theme-color-background: #0a0a0a;
    --theme-color-sub-background: #1c1917;
    --theme-color-foreground: rgb(238, 238, 238);
    --theme-color-primary: #818cf8;
    --theme-color-primary-hover: #6366f1;
    --theme-color-secondary: #facc15;
    --theme-color-secondary-hover: #eab308;
    --theme-color-success: #4ade80;
    --theme-color-success-light: #14532d;
    --theme-color-warning: #facc15;
    --theme-color-warning-light: #854d0e;
    --theme-color-danger: #f87171;
    --theme-color-danger-light: #7f1d1d;

    --theme-color-neutral: #d1d5db;
    --theme-color-border: #4a5568;
    --theme-color-footer: rgba(100, 100, 100, 0.66);

    --theme-color-card-background: rgba(20, 20, 20, 0.8);
    --theme-color-card-border: #4a5568;
    --theme-color-card-hover: rgba(255, 255, 255, 0.08);
    --theme-color-tertiary: #c084fc;
    --theme-color-muted: #9ca3af;
  }

  body {
    @apply bg-background font-sans text-foreground;
    font-family: "Pretendard", sans-serif;
    box-sizing: border-box;
    color: var(--theme-color-foreground);
  }

  h1 {
    @apply text-3xl font-bold text-primary;
  }

  h2 {
    @apply text-2xl font-semibold text-secondary;
  }

  p {
    @apply text-base text-muted;
  }
}
