@import "tailwindcss";

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2");
}

@theme {
  --color-default: #1f2937;
  --color-primary: var(--theme-color-primary);
  --color-primary-hover: var(--theme-color-primary-hover);
  --color-secondary: var(--theme-color-secondary);
  --color-secondary-hover: var(--theme-color-secondary-hover);
  --color-background: var(--theme-color-background);
  --color-foreground: var(--theme-color-foreground);

  --color-success: var(--theme-color-success);
  --color-success-light: var(--theme-color-success-light);
  --color-warning: var(--theme-color-warning);
  --color-warning-light: var(--theme-color-warning-light);
  --color-danger: var(--theme-color-danger);
  --color-danger-light: var(--theme-color-danger-light);

  --color-neutral: var(--theme-color-neutral);
  --color-border: var(--theme-color-border);
  --color-footer: var(--theme-color-footer);

  --color-card-background: var(--theme-color-card-background);
  --color-card-border: var(--theme-color-card-border);
  --color-card-hover: var(--theme-color-card-hover);

  --color-tertiary: var(--theme-color-tertiary);
  --color-muted: var(--theme-color-muted);
}

@layer base {
  [data-theme="light"] {
    --theme-color-background: #ffffff;
    --theme-color-foreground: #171717;
    --theme-color-primary: #6366f1;
    --theme-color-primary-hover: #4f46e5;
    --theme-color-secondary: #facc15;
    --theme-color-secondary-hover: #eab308;
    --theme-color-success: #22c55e;
    --theme-color-success-light: #d1fae5;
    --theme-color-warning: #facc15;
    --theme-color-warning-light: #fefcbf;
    --theme-color-danger: #ef4444;
    --theme-color-danger-light: #fecaca;

    --theme-color-neutral: rgb(125, 133, 150);
    --theme-color-border: #e5e7eb;
    --theme-color-footer: #f3f4f6;

    --theme-color-card-background: rgba(255, 255, 255, 0.9);
    --theme-color-card-border: #e5e7eb;
    --theme-color-card-hover: rgba(0, 0, 0, 0.05);
    --theme-color-tertiary: #a855f7;
    --theme-color-muted: #6b7280;
  }

  /* 🌙 Dark Mode */
  [data-theme="dark"] {
    --theme-color-background: #0a0a0a;
    --theme-color-foreground: rgb(233, 231, 231);
    --theme-color-primary: #818cf8;
    --theme-color-primary-hover: #6366f1;
    --theme-color-secondary: #facc15;
    --theme-color-secondary-hover: #eab308;
    --theme-color-success: #4ade80;
    --theme-color-success-light: #14532d;
    --theme-color-warning: #facc15;
    --theme-color-warning-light: #854d0e;
    --theme-color-danger: #f87171;
    --theme-color-danger-light: #7f1d1d;

    --theme-color-neutral: #d1d5db;
    --theme-color-border: #4a5568;
    --theme-color-footer: rgba(100, 100, 100, 0.66);

    --theme-color-card-background: rgba(20, 20, 20, 0.8);
    --theme-color-card-border: #4a5568;
    --theme-color-card-hover: rgba(255, 255, 255, 0.08);
    --theme-color-tertiary: #c084fc;
    --theme-color-muted: #9ca3af;
  }
}

@layer base {
  :root {
    --default: #1f2937;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: "Pretendard", sans-serif;
    box-sizing: border-box;
  }

  h1 {
    @apply text-3xl font-bold text-primary;
  }
  h2 {
    @apply text-2xl font-semibold text-secondary;
  }
  p {
    @apply text-base text-muted;
  }
}
